@import "./side-bar.css";
@import "./top-bar.css";
@import "./content.css";

html {
    font-size: 62.5%;
    font-family: roboto, Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template: minmax(min-content, 20%) 1fr / minmax(min-content, 20rem) 1fr;
    grid-template-areas: "side-bar top-bar"
                         "side-bar content";
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}